six==1.11.0
Flask==1.0.2
numpy==1.14.3
Keras==2.2.2
matplotlib==2.2.3
Flask_Cors==3.0.4
tensorflow==1.8.0
Werkzeug==0.14.1
Pillow==5.2.0
contextlib2==0.5.5
protobuf==3.6.1
lxml==4.2.4
mock==2.0.0
pandas==0.23.4
pycocotools==2.0.0
