.fadeOut{
    margin-left: auto;
    margin-right: auto;
    opacity:0;
    width:0;
    height:0;
    transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}

.fadeIn{
    margin-left: auto;
    margin-right: auto;
    width:100%;
    height:100%;
    transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}

.fadeInn{
    margin-left: auto;
    margin-right: auto;
    width:20%;
    height:100%;
    transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}